body {
    background-image: url('/assets/mold-vs-fungus_blog-image.webp');
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.disclaimer {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.disclaimer p {
    color: #fff;
    margin: 0;
}

#container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px;
    position: relative;
}

#container::before {
    background-color: rgba(0, 0, 0, 0.65);
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.canvas-container {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    flex: 1 1 300px; /* Adjust flex basis to allow wrapping */
    max-width: 400px;
}

.content-wrapper {
    text-align: start;
    width: 100%;
}

.gauge-container {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    gap: 40px;
    margin-bottom: 30px;
    justify-content: center;
    width: 100%;
}

.gauge-category-label {
    background-color: rgb(119, 179, 23);
    border-radius: 999px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px 20px;
}

.display-texts {
    text-align: center;
}

.logo-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 20px;
    padding-right: 25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.category-label {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

.gauge-time-label {
    font-size: 18px;
    font-weight: bold;
}

.gauge-ppm-label {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.logo {
    width: 330px;
}

.title {
    color: #fff;
    font-size: 50px;
    margin: 0 0 50px 0;
}

.date-display {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
}

/* Add media queries for smaller screens */
@media (max-width: 1024px) {
    .gauge-container {
        gap: 20px; /* Reduce gap on smaller screens */
    }

    .canvas-container {
        padding: 30px;
        max-width: 300px; /* Shrink the gauge containers */
    }

    .title {
        font-size: 48px; /* Adjust title size */
    }

    .date-display {
        font-size: 28px; /* Adjust date display size */
    }
}

@media (max-width: 768px) {
    .gauge-container {
        flex-direction: column; /* Stack the gauges vertically on smaller screens */
    }

    .canvas-container {
        max-width: 100%; /* Let gauges take full width on small screens */
    }

    .title {
        font-size: 40px; /* Further reduce title size */
    }

    .date-display {
        font-size: 24px; /* Further adjust date display size */
    }
}
